---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const redColor = "#B4637A";
---

<style define:vars={{redColor}}>
    h1 {
        color: var(--redColor);
    }
</style>

<BaseLayout pageTitle = "home">
    <h1>Astro Site</h1>
</BaseLayout>
