---
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{pageTitle}</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <span> </span>
            <a href="/about">About</a>
        </nav>
        <slot/>
    </body>
</html>
